<header>

  <div class="logo">
    <img src="assets/logo.png" alt="ZeN" />
  </div>
  <nav>
    <div>
      <topmenu></topmenu>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Cart</a></li>
      <li><a href="#">Saved Items </a></li>
    </ul>
  </nav>
  <div class="search-box">
    <input type="text" placeholder="Search here...">
    <button>Search</button>
    <a href="#">Shop Now</a>
    </div>
</header>
<topmenu />