<article>

  <div>
    <ul class="top-bar">
      <li><a href="#">Help</a></li>
      <li><a href="#">Track</a></li>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Services</a>
        <ul class="dropdown-content">
          <li><a href="#">Exchange</a></li>
          <li><a href="#">Returns</a></li>
        </ul>
      </li>
      <li class="dropdown1">
        <a href="javascript:void(0)" class="dropbtn">Register</a>
        <ul class="dropdown1-content">
          <li><a href="#">Login</a></li>
          <li><a href="#">Sign-In</a></li>
        </ul>
      </li>
    </ul>
  </div>
</article>
<app-register></app-register>